@charset "utf-8";
/* CSS Document */

#container {
	width: 1500px;
	height: 800px;
	background-color: #FF9;
	margin-top: auto;
	margin-right: auto;
	margin-left: auto;
	display:block;
	clear: both;
}

#box1 {
	width: 100%; 
	height: 100px; 
	background-color:#02C8c7;
	display:block;
	margin: auto;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}

#headerbox {
	width: 1200px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}

#headerbox1 {
	width: 200px;
	height: 100px;
	float:left;
}

#headerbox2 {
	width: 200px;
	height: 100px;
	float:left;
}

#headerbox3 {
	width: 200px;
	height: 100px;
	float:left;
}

#headerbox4 {
	width: 200px;
	height: 100px;
	float:left;
}

#headerbox5 {
	width: 200px;
	height: 100px;
	float:left;
}

#headerbox6 {
	width: 200px;
	height: 100px;
	float:left;
}

#annoucements {
	width: 290px; 
	height: 800px; 
	background-color:#02C8A7; 
	float:right;
	margin: 0px;
	padding-left:10px;
}

#H2_announcements {
	text-align:center;
}

#book_now {
	width:260px;
	height:200px;
}

body {
    margin: 0;
    padding: 0;
	font-family: "Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", "Arial", "sans-serif";
	background-color:#f3ebdb;
}

#body {
	width: 1190px; 
	height: 800px; 
	background-color:#86d6d3; 
	float:right;
	padding-left:10px;
}

#h2_body {
	text-align:left;
}

#body_text {
	
}

#footer {
	width: 1500px; 
	height: 75px; 
	background-color:#02C8c7; 
	clear:both;
	text-align:center;
}

.link {
	color: #000000;
	text-decoration:none;
}

a:hover .link {
	color:#18AFE5;
	text-decoration:none;
}

a:visited {
	color:#18AFE5;
	text-decoration:none;
}

a:link {
	color:#18AFE5;
	text-decoration:none;
}

a:active {
	color:#18AFE5;
	text-decoration:none;
}

h1 {
	font-size:26px;
}
